// Navigation
.top-bar, .title-bar, .top-bar ul {
  background-color: $primary-blue;
  padding: 0;
}
.title-bar {
  @include breakpoint(medium down) {
    height: 3rem;
  }
}
.top-bar-right h6 {
  color: white;
  letter-spacing: 2px;
  // text-transform: uppercase;
  padding-top: 3px;
}
.top-bar-title {
  padding: 0;
  a {
    padding: 15px;
    display: block;
    &:hover {
      background-color: $medium-gray;
    }
  }
}
.top-bar {
  text-align: center;
  .top-bar-title {
    float: none;
  }
}
.menu {
  a.active {
    background-color: $mid-blue;
  }
  li {
    @include breakpoint(medium down) {
      display: block;
    }
    a {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 90%;
      &:hover {
        background-color: $medium-gray;
      }
    }
  }
}
.title-bar .menu-icon {
  margin: 1rem 0 0 1rem;
}
.menu-icon::after {
  background: white!important;
}
.menu-icon:hover::after {
  background: white!important;
  box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
}

// Hero
.hero {
  background-image: url('/assets/img/albion-decorators-hero.jpg');
  background-size: cover;
  min-height: 100vh;
}
.hero-box {
  margin-top: 2rem;
  padding: .5rem;

  @include breakpoint(medium up) {
    margin-top: 6.250rem;
  }

  .button {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 3px;
  }
  img {
    margin-bottom: 2rem;
  }
  h5 {
    color: white;
    font-size:1.4rem;
    background-color: rgba(70, 169, 255, .4);
    padding: 1rem;
    border-radius: 3px;

  @include breakpoint(medium up) {
    padding: 3rem;
  }

    // margin: 0 0 2rem 0;
  }
}


#contact {
  padding: 2rem 0;
  background-color: $mid-blue;
}
span.confirm {
  display: none;
}
#about {
  padding: 4rem 0;
  background-color: $light-blue;
  i {
    padding: 4rem 0 1rem 0;
  }
  h3 {
    padding-bottom: 1rem;
  }
  h4 {
    line-height: 2.6rem;
  }
  p {
    line-height: 1.8rem;
    font-size: 1rem;
    padding: .5rem;
    opacity: .8;
  }
}


// Gallery
#gallery {
  padding: 4rem 0 0 0;
  background-color: $primary-blue;
  h2 {
    color: white;
    padding: 1rem 0;
  }
}

.slick-dots {
  color: white;
  // padding: 2rem 0;
  li, button {
    border-radius: 50%;
  }
  li {
    background: white;
    &.slick-active {
      background: $mid-blue;
    }
    button {
      &::before {
        content: "";
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, p, a, li, li a, p a, button, label, form {
  font-family: 'Lato', sans-serif;
  color: $primary-blue;
}
form label {
  text-align: left;
  font-size: 1rem;
}
h1 {
  // font-size: 2.5rem;
}
h1, h2, h1.about {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
h1 {
  font-weight: 300;
}
h1.about {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 2rem;
}
h1.about, h2 {
  letter-spacing: 2px;
}
h2 {
  font-size: 1.5rem;

  @include breakpoint(medium up) {
    font-size: 2rem;
  }
  text-transform: capitalize;
}
h3 {
  margin-top: .5rem;
}
p {
  font-family: 'Droid Sans';
  color: $primary-blue;
}
button.button .large {
  background-color: $primary-blue;
  &:hover {
    opacity: 0.7;
  }
}
// Home page
.dan-photo {
  margin-top: 2rem;
  border-radius: 50%;
  border: 3px solid $primary-blue;
}
.rev-left,
.rev-center,
.rev-right {
  // background-color: $mid-blue;
}
// Icons
.fa-building:before,
.fa-home:before,
.fa-church:before,
.fa-camera:before,
.fa-envelope:before {
  font-size: 3.5rem;
  color: $mid-blue;
}

.fa-envelope:before, .fa-camera:before {
  font-size: 2rem;
}

.fa-envelope:before {
  color: $primary-blue;
}
.fa-camera:before {
  color: white;
}

// Contact
#contact {
  padding: 4rem 0;
  form {
    input, textarea {
      border-radius: 3px;
      padding: 1.2rem;
    }
    input {
      &::placeholder {
        color: $primary-blue;
        opacity: .8;
      }
    }
    textarea {

    }
    .button {
      background-color: $primary-blue;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      @include breakpoint(small only) {
        width: 100%;
      }
    }
  }
  // Phone buttons
  .phone-wrap {
    display: flex;
    padding-top: 1rem;
    border-radius: 3px;
    @include breakpoint(medium up) {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
    .button {
      background-color: $primary-blue;
      font-weight: bold;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font-size: 1rem;
    }
    span {
      border: 1px solid $primary-blue;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 40px;
      height: 45px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


// Footer
footer {
  background-color: $primary-blue;
  padding: 4rem 0;
  ul.menu {
    a {
      padding-left: 0;
      @include breakpoint(small only) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    a.active {
      background-color: transparent;
    }
  }
  h4, p {
    color: white;
  }
  h4 {
    padding-bottom: 2rem;
    @include breakpoint(small only) {
      padding-top: 2rem;
    }
  }
  p {
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 90%;
  }
  img {
    padding-top: 2rem;
    width: 200px;
  }
}
