<div class="expanded" id="about" data-magellan-target="about">

  <div class="row">

    <div class="large-12 columns text-center small-center">
      <h2 class="about">About Us</h2>
      <h1>Albion Painters &amp; Decorators</h1>
      <h4>Covering the East of England, the experienced Albion Decorators team is Dulux Select accredited, endorsed by the Government’s Trusted Trade Mark, certified to carry out specialist Repair Care restoration work and fully DBS checked.</h4>
    </div>

  </div>

  <div class="row">

    <div class="large-4 medium-6 small-12 columns text-center rev-left">
      <i class="fas fa-home"></i>
      <h3>Domestic</h3>
      <p class="text-justify">We are fortunate enough to have a long history of happy and satisfied customers that has resulted in the majority of our domestic work to have come through personal referrals and recommendations. We pride ourselves on our personal and professional approach to ensure that your work is completed to the highest standards with minimal disruption to your daily life - using a Mirka sanding system to keep your house dust-free. We work with a number of local trades and would be happy to provide recommendations for kitchen, bathroom, carpet, electrical and plumbing services.</p>
    </div>

    <div class="large-4 medium-6 small-12 columns text-center rev-center">
      <i class="fas fa-building"></i>
      <h3>Commercial</h3>
      <p class="text-justify">From office refurbishments to new commercial fit outs as well as retail, education and and health sector projects, we cover all aspects of commercial decoration. For large scale projects we can dramatically cut project time and reduce the impact on your business while keeping the overall finish to an exceptional standard through using specialist spraying techniques. We work with a large number of local building contractors and project consultants and would be happy to provide recommendations for these services.</p>
    </div>

    <div class="large-4 medium-12 small-12 columns text-center rev-right">
      <i class="fas fa-church"></i>
      <h3>Restoration</h3>
      <p class="text-justify">Using the industry recognised Repair Care system, the Albion Decorators team has successfully completed a number of high profile restoration projects that include some the University of Cambridge colleges, The Fitzwilliam Museum, Grade II listed buildings as well as smaller scale domestic projects requiring improvements for wooden windows, porches and doors as well as sash window repairs and general decoration. We work with a number of local sash window and stain glass specialist companies and would be happy to provide recommendations for these services.</p>
    </div>

  </div>

</div>
