<div class="expanded" id="contact" data-magellan-target="contact">
  <div class="row">
    <div class="large-12 columns text-center">
      <div class="rev-center">
        <i class="fas fa-envelope"></i>
        <h2 style="margin-top: 8px;">Contact Us</h2>
      </div>
      <h4>Send us an email via the contact form below or phone us on either number.</h4>

      <div class="row">
        <div class="columns large-3 medium-6 phone-wrap">
            <span><i class="fas fa-mobile-alt"></i></span>
            <a class="button phone expanded" href="tel:01480473305">01480 473305</a>
        </div>
        <div class="columns large-3 medium-6 phone-wrap">
            <span><i class="fas fa-mobile-alt"></i></span>
            <a class="button phone expanded" href="tel: 01223524128"> 01223 524128</a>
        </div>
        <div class="columns large-6"></div>
      </div>


        <!-- Contact Form -->
        <form name="contact" method="POST" action="/thank-you.html" data-abide novalidate data-netlify="true">
          <!-- Hidden Div For Error Alerts -->
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i>There are some errors in your form.</p>
          </div>

          <div class="row">
            <!-- First Name -->
            <div class="large-3 medium-6 columns">
              <label>First Name*</label>
              <input name="fname" type="text" placeholder="First Name" required />
              <span class="form-error">
                <p>This is a required field, please enter your first name.</p>
              </span>
            </div>

            <!-- Phone Number -->
            <div class="large-3 medium-6 columns">
              <label>Your Phone Number</label>
              <input name="phone" type="tel" placeholder="07123456789" data-abide-ignore />
            </div>

            <!-- Email Address -->
            <div class="medium-6 columns">
              <label>Your Email Address*</label>
              <input name="email" type="text" placeholder="firstname.lastname@example.com" required />
              <span class="form-error">
                <p>This is a required field, please enter your email address.</p>
              </span>
            </div>

          </div>

          <!-- Email Subject -->
          <div class="row">
            <div class="large-6 medium-12 columns">
              <label>Email Subject*</label>
              <input name="subject" type="text" placeholder="eg Four Bed House Needs Painting" required />
              <span class="form-error">
                <p>This is a required field, please enter a subject for your email.</p>
              </span>
            </div>
          </div>

          <!-- Message Area -->
          <div style="text-align:left" class="row">
            <div class="large-12 columns">
              <label>Your Message</label>
              <textarea name="message" rows="8" placeholder="Enter Your Message Here"></textarea>
              <span class="form-error">
                <p>This is a required field, please enter a message.</p>
              </span>
              <!-- Submit Button -->
              <button class="button large" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
