<footer>
  <div class="row">

    <div class="large-4 medium-4 small-12 columns">
      <h4>Pages</h4>
      <ul class="menu vertical" data-magellan data-bar-offset="100">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="large-4 medium-4 small-12 columns">
      <h4>Address</h4>
      <p>Address Line One</p>
      <p>Address Line Two</p>
      <p>Post Code</p>
    </div>

    <div class="large-4 medium-4 small-12 columns">
      <h4>Logo</h4>
    </div>

    <div class="large-12 columns">
      <p>Copyright</p>
    </div>

  </div>
</footer>
