<footer>
  <div class="row">

    <div class="large-4 medium-4 small-12 columns text-center medium-text-left">
      <h4>Office Address</h4>
      <p>3 Fielding Court</p>
      <p>Eaton Ford</p>
      <p>St Neots</p>
      <p>Cambridgeshire</p>
      <p>PE19 7LP</p>
      <p>VAT Registered No. 313374427</p>
    </div>

    <div class="large-4 medium-4 small-12 column text-center medium-text-left">
      <h4>Pages</h4>
      <ul class="menu vertical" data-magellan data-bar-offset="100">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="large-4 medium-4 small-12 columns text-center medium-text-left">
      <h4>General Enquiries</h4>
      <p>Tel: 01480 473305</p>
      <p>Tel: 01223 524128</p>
      <img src="assets/img/albion-decorators-logo.svg" alt="Albion Painters And Decorators" width="" height="" />
    </div>

  </div>
</footer>
