<div class="row expanded" id="gallery" data-magellan-target="gallery">
  <div class="orbit" role="region" aria-label="Albion Header Slide" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
      <button class="orbit-previous">&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      <li class="is-active orbit-slide one">

      </li>
      <li class="orbit-slide two">

      </li>
      <li class="orbit-slide three">

      </li>
    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First Slide Details</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second Slide Details</span></button>
      <button data-slide="2"><span class="show-for-sr">Third Slide Details</span></button>
    </nav>
  </div>
</div>
