<div id="home" class="expanded row hero">
  <div class="large-6 medium-8 small-10 columns hero-box text-center small-centered">
    <img src="assets/img/albion-decorators-logo.svg" alt="Albion Painters And Decorators" width="534" height="215" />
    <h5>Located in St Neots Cambridgeshire, Albion Decorators has an expert team with a wide range of specialist skills delivering exceptional internal and external commercial, domestic and restoration decorating services.</h5>
    <div data-magellan>
      <a class="button" href="#contact">Get In Touch</a>
    </div>
  </div>
</div>
