<div id="home" class="expanded row hero">
  <div class="large-6 medium-8 small-10 columns hero-box large-centered medium-centered small-centered">
    <img src="assets/img/albion-hero-534.png" alt="Albion Painters And Decorators" width="534" height="215" />
    <h5>Albion is a painting and decorating company based in Cambridge.</h5>
    <h5>We operate all over Cambridgeshire doing a wide range of jobs.</h5>
    <div data-magellan>
      <a class="button" href="#contact">Get In Touch</a>
    </div>
  </div>
</div>
