<div data-sticky-container>
  <div data-sticky data-options="marginTop:0; stickyOn: small" style="width:100%">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>
    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-title">
        <a href="/">
          <img src="/assets/img/albion-logo.png" width="150" height="60" />
        </a>
      </div>
      <div class="menu-centered">
        <ul class="menu" data-menu data-magellan>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <nav id="home" data-magellan-target="home">

  <div data-sticky-container>
    <div class="title-bar" data-responsive-toggle="main-menu" data-sticky data-options="marginTop:0;" style="width:100%">
      <button class="menu-icon" type="button" data-toggle="main-menu"></button>
      <div class="title-bar-title">
        Menu
      </div>

      <div class="top-bar">
        <div class="top-bar-title">
          <a href="/">
            <img src="/assets/img/albion-logo.png" width="150" height="60" />
          </a>
        </div>
      </div>
      <div class="menu-centered">
        <ul id="main-menu" class="menu" data-magellan data-bar-offset="100">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/gallery.html">Gallery</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
